/* Stanford cardinal, as on the Sherlock docs */
:root, [data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #8C1515;
  --md-primary-fg-color--light: #B83A4B;
  --md-primary-fg-color--dark:  #820000;
  --md-accent-fg-color:         #B83A4B;
}
